<h1>Formulario de Voluntarios Kids/Tweens</h1>
<form action="/form/page5" method="POST" enctype="multipart/form-data">
    <label for="backgroundCheck">Certificado de Antecedentes:</label>
    <input type="file" id="backgroundCheck" name="backgroundCheck" required>

    <label for="disqualificationRecord">Registro de Inhabilidades:</label>
    <input type="file" id="disqualificationRecord" name="disqualificationRecord">

    <button type="submit">Siguiente</button>
    <button type="button" onclick="window.location.href='/form/page3'">Anterior</button>
</form>
<p>Hoja 4 de 5</p>
