<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Voluntarios</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/navigation.js" defer></script>
</head>

<body>
    <header class="navbar">
        <div class="logo-container">
            <img src="/images/logo-arkids.png" alt="AR Kids Logo" class="logo">
        </div>
        <a href="/" class="home-link">INICIO</a>
        <div class="logo-container">
            <img src="/images/logo-tweens.png" alt="Tweens Logo" class="logo">
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2025 Formulario de Voluntarios. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
